* {
  margin: 0;
  padding: 0;
}

.header-logo {
  height: 50px;
}

.header-main-container {
  background-color: #f72210;
}

.btn-header {
  border-radius: 24px;
  height: 25px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

.header-menu * {
  margin-right: 10px;
}

.fake-body {
  height: 200vh;
}

.flex-xs {
  display: flex;
}

.flex-xs ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
