/* * {
  margin: 0;
  padding: 0;
} */
footer {
  margin-left: 2%;
  margin-right: 2%;
  overflow-x: hidden;
}

.header-logo {
  height: 50px;
}

.header-logo-lg {
  height: 60px;
}

.date-text {
  color: #fff;
  margin-left: 4%;
}

.header-main-container {
  background-color: #f72210;
}

.login-text,
#header-user-icon,
#header-menu-bars {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.btn-header {
  /* border-radius: 24px;
  height: 25px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center; */
  background-color: #ffe400;
  color: black;
  border-radius: 24px;
  display: flex;
  align-items: center;
}

.header-menu * {
  margin-right: 10px;
}

.header-upper-line-links,
.header-lower-line-links {
  background-color: #fff;
  padding: 0 4%;
  z-index: 10;
  border-bottom: 1px solid #dedede;
}

.upper-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  margin-left: 1%;
  padding-right: 1%;
  border-right: 1px solid #dedede;
}

#search-text-link {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  border-right: none;
}

#search-text-icon {
  color: #333;
  font-weight: normal;
  border-right: none;
}

#first-upper-link {
  margin-left: 3%;
}

#last-upper-link {
  margin-right: 2%;
}

.lower-link {
  text-decoration: none;
  color: #807f84;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-left: 1%;
  padding-right: 1%;
}

.fake-body {
  height: 50vh;
}

#image-test {
  width: 95px;
  height: 95px;
}

#image-test2 {
  width: 95px;
  height: 95px;
}

.stories-card-title {
  font-size: 14px;
}

.clearing {
  clear: both;
}

.stories-card-text {
  font-size: 12px;
}

.card-text {
  font: bold 16px/19px "Roboto Condensed", sans-serif;
  color: rgba(3, 3, 3, 0.5);
}

.card-wrapper {
  display: flex;
  width: 100%;
}

.footer-logo-copyright {
  flex-basis: 70%;
}

.footer-logo-copyright svg {
  width: 236px;
  height: 36px;
  margin-right: 15px;
  margin-bottom: 12px;
  fill: #f72210;
}

/* .footer-logo-copyright p {
  flex-basis: 70%;
} */

.copyright {
  font-size: 0.68em;
}

.flex-xs {
  display: flex;
}

.social-icons-footer {
  font-size: 24px;
}

.upper-footer * {
  margin-bottom: 0.5em;
}

.upper-footer-social-media {
  flex-basis: 30%;
}

.upper-footer-social-media i {
  margin-right: 3%;
}

.lower-footer {
  border-top: 1px solid #dedede;
}

#last-language {
  border-left: 0;
}

.footer-languages a,
.company-links a {
  margin-left: 1%;
  padding-right: 1%;
  border-right: 1px solid #dedede;
}

.card-body a {
  color: black;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  font-size: 1.19em;
  font-weight: bold;
}

.cate a {
  color: #f72210;
}

.stories-card-title a {
  font: bold 17px/21px "Roboto Condensed", sans-serif;
}

.footer-languages a,
.company-links a,
.languages div a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  line-height: 2;
  margin-right: 3px;
}

.st0 {
  width: 236px;
  height: 36px;
  fill: #f72210;
}

main {
  margin-left: 5px;
  margin-right: 5px;
}

div {
  display: block;
}

.page-header {
  padding-bottom: 80px;
}

.block-title {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 11px;
  color: rgba(3, 3, 3, 0.4);
  margin-top: 20px;
}

.card {
  position: relative;
  min-height: 33px;
  margin-bottom: 10px;
}

.card-body .card-title {
  font-size: 20px;
  line-height: 20px;
}

.card-body a:hover {
  text-decoration: underline;
  text-decoration-color: #f72210;
  cursor: pointer;
}

.cate {
  display: block;
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* .card img-top {
  width: 350px;
  height: 265px;
} */

.card-body p {
  color: #4e4c4c;
  margin-bottom: 20px;
}

.rounded-circle {
  width: 63px;
  height: 63px;
}

.c-vs {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/32px "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 6px auto;
  margin-top: -15px;
}

.first-card {
  border-top: 4px solid #d9d9d9;
  padding-top: 10px;
  padding-bottom: 4px;
}

.second-card {
  border-bottom: 4px solid #d9d9d9;
  padding-top: 10px;
  padding-bottom: 4px;
}

.deco::before {
  top: calc(50% - 2px);
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
}

.deco::after {
  top: calc(50% - 4px);
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
}

#spons-insights-intitle {
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  color: #3581f4;
}

#insight-card-title1 {
  font-size: 20px;
  line-height: 20px;
}

.insight-card-text {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
